<!DOCTYPE html>
<html lang="en">

<%- include('../../views/templates/head')-%>


    <body>
        <section class="bg-light py-3" style="background-image: url('assets/image/pattern-shapes.png');">
            <div class="container px-2">
                <div class="row gx-5 mb-4">
                    <div class="col-md-5 text-center">
                        <div class="col-lg-5 ">
                            <img src="../../assets/image/register.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card post-preview post-preview-featured lift mb-3 overflow-hidden ">
                            <h5 class="card-header card-title text-center">Registro</h5>
                            <div class="card-body">
                                <form method="POST" action="/register">
                                    <div class="form-group row mb-4">
                                        <input class="form-control py-3" id="inputName" type="text" placeholder="Nombre completo" name="fullName"> 
                                    </div>
                                    <div class="form-group row mb-4">
                                        <input class="form-control py-3" id="inputPerfil" type="text" placeholder="Perfil academico" name="academyProfile">
                                    </div>
                                    <div class="row gx-5 mb-3">
                                        <div class="col-md-6">
                                            <input class="form-control" id="inputBirthday" type="date"
                                                name="inputBirthday" placeholder="Fecha de Nacimiento">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input class="form-control" id="inputPhone" type="tel" name="tel"
                                                pattern="\d*" maxlength="10" minlength="10" placeholder="Teléfono">      
                                        </div>
                                    <hr class="my-2">
                                    <div class="form-group row mb-4">
                                        <input class="form-control py-3" id="inputEmail" type="email" placeholder="Correo electronico" name="email">
                                    </div>
                                    <div class="form-group row mb-4">
                                        <input class="form-control py-3" id="inputPassWord" type="password" placeholder="Contraseña" name="password">
                                    </div>
                                    <div class="form-group row mb-4">
                                        <input class="form-control py-3" id="inputPassWord" type="text" placeholder="Cual es el nombre de tu primera mascota" name="answer">
                                    </div>
                                    <% if(message != undefined){ %>
                                        <p href="#"><%= message %></p>
                                      <% } %>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6 text-end">
                                            <p>¿Ya tienes cuenta? <a class="text-red" href="/login">
                                                    Inicia Sesión</a>
                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-3" type="submit">Registrar</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <%- include('../../views/templates/need-validation')-%>
        <script>

            document.getElementById("inputTypeUser").onclick = function () {
                var ddlTypeUser = document.getElementById("inputTypeUser");
                var divinputUrlAcredit = document.getElementById("inputUrlAcredit");
                if (ddlTypeUser.value == '2') {
                    divinputUrlAcredit.required = true;
                    divinputUrlAcredit.style.display = 'block';

                } else {
                    divinputUrlAcredit.required = false;
                    divinputUrlAcredit.style.display = 'none';
                }
            }

        </script>

</html>