<li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
    <a class="btn btn-icon btn-lg btn-transparent-red dropdown-toggle" id="navbarDropdownAlerts"
        href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-bell">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
        </svg></a>
    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
        aria-labelledby="navbarDropdownAlerts">
        <h6 class="dropdown-header dropdown-notifications-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-bell me-2">
                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg>
            Alerts Center
        </h6>
        <!-- Example Alert 1-->
        <a class="dropdown-item dropdown-notifications-item" href="#!">
            <div class="dropdown-notifications-item-icon bg-warning"><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-activity">
                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                </svg></div>
            <div class="dropdown-notifications-item-content">
                <div class="dropdown-notifications-item-content-details">December 29, 2021</div>
                <div class="dropdown-notifications-item-content-text">This is an alert message. It's nothing
                    serious, but it requires your attention.</div>
            </div>
        </a>
        <a class="dropdown-item dropdown-notifications-footer" href="#!">View All Alerts</a>
    </div>
</li>