<form class="form-inline me-auto d-none d-lg-block me-3" method="POST" action="/home/">
    <div class="input-group input-group-joined input-group-solid">
        <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" name="title">
        <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></div>
    </div>
</form>