<nav class="nav nav-borders">
    <a class="nav-link active ms-0" href="/user">Perfil</a>
    <%if(user.role=='2') { %>
    <a class="nav-link" href="/publication">Articulos</a>
    <% } %> 
    <a class="nav-link" href="#">Notifications</a>
</nav>