<nav class="navbar  navbar-expand-lg bg-red navbar-light fixed-top ">
    <div class="container px-4">
        <a class="navbar-brand text-white" href="/"><img src="/assets/image/icono.svg" width="120" height="120"
                class="img-fluid">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item">
                    <p class="display-6 text-white">/ </p>
                </li>
                <li class="nav-item dropdown dropdown-lg no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Politica
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill fa-w-10 dropdown-arrow" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPages">
                        <div class="row g-0">
                            <div class="col-lg-2 p-lg-3">
                                <a class="dropdown-item" href="/home/Política">Nacional
                                    Page</a>
                                <a class="dropdown-item" href="/home/Política">Internacional</a>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="nav-item">
                    <p class="display-6 text-white">/</p>
                </li>
                <li class="nav-item"><a class="nav-link" href="/home/Prensa">Prensa y medios</a></li>
                <li class="nav-item">
                    <p class="display-6 text-white">/</p>
                </li>
                <li class="nav-item"><a class="nav-link" href="/home/Eventos">Eventos</a></li>
                <li class="nav-item">
                    <p class="display-6 text-white">/</p>
                </li>
                
                    <p class="display-6 text-red"> -</p>
                </li>
                
                <% if (user==undefined){%>
                    <li class="nav-item">
                        <a class="btn fw-500 ms-lg-4 btn-primary-nav" href="/login">
                            Unirte
                        </a>
                    </li>
                <%}else{%>
                     <!-- Alerts Dropdown-->
                  
                     <%- include('../templates/elements/form_search')-%>

                    <!-- Alerts Dropdown-->
                    <%- include('../templates/elements/dropdown_alerts')-%>

                    <!-- User Dropdown-->
                    <%- include('../templates/elements/dropdown_user')-%>
                <% } %>

            </ul>
        </div>

    </div>
</nav>