<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SafoNews</title>
    <base href="/">
    <meta name="theme-color" content="#EF042D">
    <link rel="icon" type="image/png" href="https://startbootstrap.com/favicon.png">
    <link href="/home/nai/SafoNews/sn-rest-client/assets/css/styles.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar  navbar-expand-lg bg-red navbar-light fixed-top">
                    <div class="container px-5">
                        <a class="navbar-brand text-white"
                            href="/home/nai/SafoNews/sn-rest-client/layouts/home.html"><img width="120" height="120"
                                src="/home/nai/SafoNews/sn-rest-client/assets/image/icono.svg" class="img-fluid"></a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto me-lg-5">
                                <li class="nav-item"><a class="nav-link"
                                        href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">Home</a></li>
                                <li class="nav-item">
                                    <p class="display-6 text-white">/ </p>
                                </li>
                                <li class="nav-item dropdown no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs"
                                        href="/home/nai/SafoNews/sn-rest-client/layouts/home.html" role="button"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Politica
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            fill="currentColor" class="bi bi-caret-down-fill fa-w-10 dropdown-arrow"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up "
                                        aria-labelledby="navbarDropdownDocs">
                                        <div class="row g-0">
                                            <div class="col-lg-2 p-lg-3">
                                                <h6 class="dropdown-header text-primary">Company</h6>
                                                <a class="dropdown-item"
                                                    href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">Basic
                                                    Page</a>
                                                <a class="dropdown-item"
                                                    href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">About</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="nav-item">
                                    <p class="display-6 text-white">/</p>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">Prensa y medios</a>
                                </li>
                                <li class="nav-item">
                                    <p class="display-6 text-white">/</p>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">Eventos</a></li>
                                <li class="nav-item">
                                    <p class="display-6 text-white">/</p>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                        href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">Nosotros</a></li>
                            </ul>
                            <a class="btn fw-500 ms-lg-4 btn-primary-nav"
                                href="/home/nai/SafoNews/sn-rest-client/layouts/home.html">
                                Unirte
                            </a>
                        </div>
                    </div>
                </nav>
            </main>
        </div>
    </div>
</body>

</html>